body{
    margin: 0;
    padding: 0;
    background-image: url(imagenes/CityAlaska.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
.contenedor{
    background-color: rgba(0, 0, 139, 0.377);
    height: 30vh;
    margin: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}